# Web Framework
fastapi==0.109.2
uvicorn==0.27.1

# Async HTTP client for file downloads
aiohttp==3.9.3

# File Processing
# pdfplumber==0.10.3
PyMuPDF==1.23.8
python-docx==1.1.0
openpyxl==3.1.2
pandas==2.2.0

# Utils
python-multipart==0.0.7  # For handling file uploads in FastAPI
python-magic==0.4.27    # For file type detection
pydantic==2.6.1        # For data validation

# AI Alibaba Model
dashscope==1.20.14

# Retry
tenacity>=8.0.0